body {
  font-size: 1rem;
}

body > div {
  margin: 0 !important;
  max-width: 100%;
}

.navbar {
  padding: 0 1rem 0 0;
}

.navbar-brand {
  padding: 0;
}

.navbar a.nav-link {
  font-weight: bold;
  text-transform: uppercase;
}

.navbar a.nav-link:hover {
  color: #1c1340 !important;
}

.bg-light {
  background: #d1d2d4 !important;
}

.bg-success {
  background: #00aeef !important;
}

.bg-primary {
  background: #005778 !important;
}

.bg-info {
  background: #939393 !important;
}

.bg-warning {
  background: #b11116 !important;
}

.bg-danger {
  background: #d0797c !important;
}

.bg-dark {
  background: #1c1340 !important;
}

.btn-primary {
  background: #005778 !important;
  border-color: #005778 !important;
}

.btn-danger {
  background: #d0797c !important;
  border-color: #d0797c !important;
}

.btn-warning {
  background: #b11116 !important;
  border-color: #b11116 !important;
  color: #fff;
}

.page-link {
  color: #005778;
}

.page-item.active .page-link {
  color: #fff;
  background-color: #005778;
  border-color: #005778;
}

.common-bg {
  background-color: #1c1340;
}

#boletin-container {
	margin-left: 10%;
	margin-right: 10%;
	margin-bottom: 30px;
}

#apks-info {
  border-radius: 0;
}

#apks-info > a {
  text-decoration: none;
  font-weight: bold;
  color: #1c1340;
}

#apks-info > a:hover {
  color: darkgray;
}

.app-logo {
  height: 20px;
  margin-top: -10px;
}

#map-mun,
#map-pro {
  background-color: #ffffff;
  min-height: 383px;
}

#radarchart {
  min-height: 400px;
}

#project {
  text-align: center;
}

#country_selector_3 {
	font-weight: normal;
	width: 200px;
}

.rounded {
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.border {
  border-bottom-style: solid;
  border-color: #1c1340;
  border-left-style: solid;
  border-right-style: solid;
  border-top-style: solid;
  border-width: 1px;
}

#gen-info {
  color: #ffffff;
  background-color: #1c1340;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 0.8rem;
}

.gen-info-item {
  margin-bottom: 1px;
  font-size: 0.9rem;
}

#logo-container {
  background-color: #d1d2d4;
  margin-left: 5px;
}

#first-block {
  min-height: 100px;
  margin-top: 5px;
}

#daily-single-info,
#countries-info,
#ages-info,
#countries-info-pie,
#daily-deads-info,
#daily-recovers-info,
#tests-donut-info,
#daily-porciento-positivos,
#tests-line-info,
#cases-pie-info,
#daily-actalt-info,
#daily-actaltday-info,
#fsex-info {
  height: 220px;
}

#sex-container,
#contagio-container {
  height: 180px;
  margin-top: 10px;
  margin-right: 10px;
}

.card,
.card-deck > .card,
#apks-info {
  margin-bottom: 1em;
}

#countries-container {
  margin-left: 5px;
  margin-right: 5px;
}

#daily-container-block {
  padding-left: 15px;
}

#ages-container {
  margin-right: 10px;
  margin-left: 5px;
}

.erase-right {
  padding-right: 0px;
}

.erase-left {
  padding-left: 0px;
}

#sex-info,
#contagio-info {
  height: 160px;
}

.bd {
  font-weight: bold;
}

.leaflet-popup-content-wrapper {
  padding: 0px;
}

.leaflet-popup-content {
  margin: 0px;
}

.small-pname {
  color: #fff;
  font-size: 13px;
  width: 100%;
  background-color: #1c1340;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  padding-top: 8px;
  padding-bottom: 2px;
}

.small-content {
  padding-top: 10px;
}

.small-pname,
.small-plink,
.small-content {
  padding-left: 10px;
  padding-right: 15px;
}

#logo {
  height: 70px;
  margin-left: 0px;
}

.text-block {
  color: #1c1340;
  margin-left: 10px;
  font-weight: bold;
}

#select-map {
  font-weight: normal;
}

.map-quote {
  font-size: 11px;
  text-align: center;
}

#team > p {
  font-weight: bold;
  color: #1c1340;
}

#team {
  text-align: center;
  margin-top: 40px;
}

#team-logos {
  text-align: center;
}

.team-logo {
  height: 50px;
}

#info {
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

#date {
  text-align: right;
}

.map-legend {
  text-align: center;
}

#map-legend-container {
  margin-top: 0px;
}

#cases0 {
  color: #d1d2d4;
}

.buttons-container {
	margin-top: 5px;
	text-align: center;
	
}

#countries-comparison,
#countries-curve {
  height: 180px;
}

#daily-container {
  margin-top: 5px;
  height: 260px;
}

#daily-sum-info {
  height: 225px;
}

#stringencycub-evol {
  height: 250px;
}

#repnumber-chart {
  height: 330px;
}

#repnumber_nodata {
  padding-top: 100px;
  text-align: center;
}

#countriescurve-info {
  min-height: 260px;
  margin-left: 5px;
  margin-right: 20px;
  text-align: left;
}

#countrycurve-select {
  font-weight: normal;
}

.sub {
  font-weight: normal;
  margin-top: 5px;
}

#countriescurve-block-container {
  margin-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
}

.info-note {
  color: red;
}

.explain-text {
  margin-left: 5px;
}

#curves-evolution, #scatter-plot {
  min-height: 500px;
}

#cusobu,
#fr,
#swlx,
#jc,
#uh {
  height: 25px;
}

#replicas {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

#stringencycub-value {
  text-align: center;
}

#stringencycub-idx {
  font-weight: bold;
  color: #b01e22;
}

.card-header {
  padding: 0.25rem 0.85rem;
}

.card.common-bg .card-header {
  color: white;
}

.card.common-bg .card-body {
  background-color: white;
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

.card .card-body.common-bg {
  color: white;
}

.footer {
  background-color: rgba(18, 19, 64, 0.2);
}

#stats-cards .card-body {
  padding: 0.25em 15px;
}

#stats-cards .card-body {
  font-weight: bold;
  font-size: 2.5em;
  line-height: 1em;
}

#general h2 {
  text-transform: uppercase;
  font-size: 0.7em;
  font-weight: bold;
}

.navbar-stat {
  width: 130px;
  text-align: center;
  padding: 0.5em 1em;
  font-weight: bold;
  margin: 0;
}

.navbar-stats > .card {
  display: inline-block;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 0;
  width: 142px;
}

.navbar-stats > .card > .card-body {
  padding: 5px 15px;
  line-height: 1;
  font-size: 2.5em;
}

.navbar-stats > .card > .card-footer {
  padding: 2px 10px;
  font-size: 0.75em;
}

.stat-number {
  font-size: 2em;
}

.stat-number i {
  padding: 8px;
}

.stat-label {
  text-transform: uppercase;
  font-size: 0.75em;
}

[data-view="province"] {
  display: none !important;
}

#compari > .card-header > ul.nav {
  margin-top: 0.3em;
  margin-bottom: -0.5rem;
}

#compari > .card-header > ul.nav > li > a:not([class*="active"]) {
  color: white;
}

#compari .text-block.sub {
  text-align: center;
  margin-bottom: 1em;
}

#compari .fa {
  line-height: 1.3;
}

#evomade-form {
  margin-top: 0px;
  margin-bottom: 10px;
  margin-left: 35px;
}

#evomade-form > p {
  margin-bottom: 5px;
}

.dataTables_info {
  white-space: normal !important;
}

table.dataTable.table-external.dtr-inline.collapsed > tbody > tr[role="row"] > td:first-child:before,
table.dataTable.table-external.dtr-inline.collapsed > tbody > tr[role="row"] > th:first-child:before {
  content: "" !important;
  display: none !important;
}

.dataTables_wrapper .row:first-child,
.dataTables_wrapper .row:nth-child(3) {
  padding: 0 20px;
}

.dtr-details {
  width: 100%;
}

.alert-text {
  margin-bottom: 0px;
  text-align: center;
}

@media (min-width: 576px) {
  #stats-cards .card {
    margin: 0 7px 1em;
  }

  #stats-cards > .card-deck > .card:first-child,
  #stats-cards > .card-deck > .card:nth-of-type(4) {
    margin-left: 15px;
  }

  #stats-cards > .card-deck > .card:nth-of-type(3),
  #stats-cards > .card-deck > .card:last-child {
    margin-right: 15px;
  }

  #top-row > .row > .col-md-3 > .card-deck > section.card:nth-of-type(odd),
  #line-charts > .card-deck-2 > section.card:nth-of-type(odd) {
    margin-right: 7px;
  }

  #top-row > .row > .col-md-3 > .card-deck > section.card:nth-of-type(even),
  #line-charts > .card-deck-2 > section.card:nth-of-type(even) {
    margin-left: 7px;
  }

  .card-deck-3 > .card:nth-of-type(1) {
    margin-left: 15px !important;
    margin-right: 15px !important;
  }

  .card-deck-3 > .card:nth-of-type(odd) {
    margin-left: 7px;
    margin-right: 15px;
  }

  .card-deck-3 > .card:nth-of-type(even) {
    margin-left: 15px;
    margin-right: 7px;
  }
}

@media (min-width: 768px) {
  
  #stats-cards > .row > div:nth-child(3n + 1) {
    padding-left: 15px;
    padding-right: 7px;
  }

  #stats-cards > .row > div:nth-child(3n + 2) {
    padding-left: 7px;
    padding-right: 7px;
  }

  #stats-cards > .row > div:nth-child(3n + 0) {
    padding-left: 7px;
    padding-right: 15px;
  }

  #top-row > .row > .col-md-3 > .card-deck > section.card:nth-of-type(odd),
  #top-row > .row > .col-md-3 > .card-deck > section.card:nth-of-type(even) {
    margin-left: 0;
    margin-right: 15px;
  }

  #tables > .card-deck > section.card:nth-of-type(odd),
  #national-comparison > .card-deck > section.card:nth-of-type(odd),
  #top-countries > .card-deck > section.card:nth-of-type(odd) {
    margin-right: 7px;
  }

  #tables > .card-deck > section.card:nth-of-type(even),
  #national-comparison > .card-deck > section.card:nth-of-type(even),
  #top-countries > .card-deck > section.card:nth-of-type(even) {
    margin-left: 7px;
  }

  #compari > .card-header > form {
    float: left;
  }

  #compari > .card-header > ul.nav-justified {
    float: right;
  }

  #compari > .card-header > ul.nav-justified > li {
    flex-basis: auto;
    flex-grow: 0;
  }
}

@media (min-width: 992px) {
	

  #stats-cards .card,
  #stats-cards > .card-deck > .card:nth-of-type(3),
  #stats-cards > .card-deck > .card:nth-of-type(4) {
    margin: 0 7px 1em;
  }

  #stats-cards > .card-deck > .card:first-child {
    margin-left: 15px;
  }

  #stats-cards > .card-deck > .card:last-child {
    margin-right: 15px;
  }

  .card-deck-3 > .card:nth-of-type(3n + 1) {
    margin-left: 15px;
    margin-right: 7px !important;
  }

  .card-deck-3 > .card:nth-of-type(3n + 2) {
    margin-left: 7px !important;
    margin-right: 7px !important;
  }

  .card-deck-3 > .card:nth-of-type(3n + 0) {
    margin-left: 7px !important;
    margin-right: 15px !important;
  }
}

@media (max-width: 768px) {
  #boletin-container {
	margin-left: 2%;
	margin-right: 2%;
  }
}

div.dataTables_wrapper div.dataTables_filter input {
  width: 80% !important;
}
