on:

  schedule:
    - cron: '0 */12 * * *'

  push:
    branches:
      - master
jobs:
  JsonUpgrades:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - uses: actions/setup-python@v1
        with:
          python-version: '3.7'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r utils/requirements.txt

      - name: Get countries Json
        run: |
          python utils/update_countries.py
          git config --global user.name 'hiancdtrsnm'
          git config --global user.email 'hiancdtrsnm@gmail.com'
          git add .
          git commit --allow-empty -am "Update countries data"
          git push
